<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-chart-network"></i> sPLINK
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card" style="text-align: justify">
      <div class="card-content">
        <div class="content">
          <p>
            <i>sPLINK (safe PLINK)</i> is a federated, privacy-preserving tool set based on the <a href="https://github.com/tum-aimed/hyfed">HyFed framework</a> for genome-wide association studies (GWAS).
          </p>

          <div class="illustrations">
            <div class="columns">
              <div class="is-half">
                <figure>
                  <img src="assets/index_page/collaborative_gwas.png" alt="Collaborative GWAS" />
                </figure>
              </div>
              <div class="is-half">
                <figure>
                  <img src="assets/index_page/splink_vs_meta.png" alt="Collaborative GWAS" />
                </figure>
              </div>
            </div>
            <div class="columns">
              <div class="is-half">
                <figure>
                  <img src="assets/index_page/corr_splink.png" alt="Collaborative GWAS" />
                </figure>
              </div>
            </div>
          </div>

          <p>
            Unlike <em>PLINK</em>, <em>sPLINK</em> preserves the data privacy. In contrast to meta-analysis approaches which lose accuracy if the data
            distribution is imbalanced/heterogeneous across the cohorts, <em>sPLINK</em> is robust against data heterogeneity.
            That is, <em>sPLINK</em> gives the same results as aggregated analysis conducted with <em>PLINK</em> even if
            phenotype or confounding factor values have heterogeneously been distributed across the cohorts.
          </p>
          <p>
            For more information on how to use <em>sPLINK</em>, please see our
            <a href="how-to">step-by-step guide</a> or
            watch the screencast.
          </p>

          <div class="has-text-centered video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5Jw85ssnUTo"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
